
body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Bold';
}

p {
  color: #8f8f8f;
}

.caption {
  color: #333333;
}

.row {
  padding: 0;
}
/* Headings */

.big-heading {
  font-family: 'Montserrat-Black';
  font-size: 4.5rem;
  line-height: 1.5;
  color: #ff4c68;
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.line-sections{
  color:#ff4c68;
  height: 8px;
}

/* Containers */

.container-fluid{
  padding: 7% 7%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.second-section {
  background-color: #F2EFE0;
  color: #fceceb;

}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 200 0 0px;
  position: fixed;
  top: 0;
  z-index: 100;
  left:0;
  background-color: #ff4c68;
  width:100%;
  margin-left: 0;
  margin-right: 0;

}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0 0 0 50px;

}

.nav-item {
  padding: 0 10px;
}

.big-heading {
  font-family: 'Ubuntu';
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Ubuntu';
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 10% 10% 7%;
}

/* Title Image */

.title-image {
  position: static;
  width: 80%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}



.titles-image {
  position: static;
  width: 100%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  font-family: 'Ubuntu';
  color:#ff4c68;
}

.features-title {
  font-size: 1.5rem;
  font-family: 'Ubuntu';
  color:#fff;
}


.feature-box {
  padding: 2%;
}

.icon {
  color: #ff4c68;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}


/* lines */

hr {
    margin: 40px 0px;
    border-color: #727878;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}


/* Testimonial Section */

#webinformation {
  background-color: #ff4c68;
}

#currentlyinformation {
  background-color: #ff4c68;
}

.testimonial-text {
  font-size: 2rem;
  line-height: 1.5;
  font-family: 'Ubuntu';
  font-weight: bold;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 10px;
}

.currently-image {
  width: 50%;
  margin: 10px;
}

.currentlyy-image {
  width: 80%;
  margin: 10px;
}

.BIG-text {
  font-size: 4rem;
  line-height: 1.5;
  font-family: 'Ubuntu';
}

.information-text {
  font-size: 2rem;
  line-height: 1.5;
  font-family: 'Ubuntu';
}

.currently-text {
  font-size: 2rem;
  font-family: 'Ubuntu';
  font-weight: normal;
}

/* Footer Section */

.social-icon {
  color: #333333;
  margin: 20px 10px;
}

#down-arrow-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.carouselwhite {
  height: auto;
  width: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1000px;
}
